* {
  box-sizing: border-box;
}

body {
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0e3e3;
  height: 100vh;
  margin: 0;
}
a {
  color: #422a35;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 40px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.date {
}

#datetime-picker {
  margin-right: 4px;
}

.timer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
  padding: 0;
}
.value {
  font-size: 34px;
  font-weight: 400;
}
.label {
  font-size: 12px;
  text-transform: uppercase;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 300px;
  object-fit: cover;
}
